// * Colors
$c-black: #303030;
$c-white: #fff;
$c-purple: #9c27b0;
$c-accent: #f9a825;
$c-warn: #d50000;

// * Fonts
$ff-roboto: "Roboto", serif;

// * Transition
$t-normal: 0.35s cubic-bezier(0.4, 0, 0.2, 1);

// * Box Shadow
$bs-normal: 3px 4px 7px rgba($c-black, 0.1);
